<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Budget Data</title>
</head>
<body>
<div>
    <h2>List Budget Data</h2>
    <hr/>
    <table border="1">

        <thead>
        <tr>
            <!--th -> header, tr -> row,ez tulajdonképpen az első header lefellső sor beállítása-->
            <th>Id</th>
            <th>Tranzakció dátuma</th>
            <th>Bejövő/kimenő</th>
            <th>Partner neve</th>
            <th>Költési kategória</th>
            <th>Számla név</th>
            <th>Összeg</th>
            <th>Megjegyzés</th>
        </tr>
        </thead>
        <tbody>
        <!--Végigiterál a BudgetRecordController class showBudgetData() metódusából visszakapott listán-->
        <tr th:each="budgetRecord: ${budgetRecords}">
            <td th:text="${budgetRecord.id}"></td>
            <td th:text="${budgetRecord.tranzakcioDatuma}"></td>
            <td th:text="${budgetRecord.bejovoKimeno}"></td>
            <td th:text="${budgetRecord.partnerNeve}"></td>
            <td th:text="${budgetRecord.koltesiKategoria}"></td>
            <td th:text="${budgetRecord.szamlaNev}"></td>
            <td th:text="${budgetRecord.osszeg}"></td>
            <td th:text="${budgetRecord.megjegyzes}"></td>
            <td>
                <!-- Edit button -->
                <a th:href="@{/budget-records/edit/{id}(id=${budgetRecord.id})}">Edit</a>
                <!-- Delete button -->
                <form th:action="@{/budget-records/delete/{id}(id=${budgetRecord.id})}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>